<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <contextName>zuul</contextName>

    <springProfile name="development,develop,test,testing">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>


        <!--JPA 显示执行的SQL和参数-->
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type" level="TRACE"/>
    </springProfile>

    <springProfile name="production,pre">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="org.nofdev.logging.CustomJsonLayout">
                    <appendLineSeparator>true</appendLineSeparator>
                    <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampFormat>
                    <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
                    <jsonFormatter class="org.nofdev.logging.CustomJacksonJsonFormatter">
                        <prettyPrint>false</prettyPrint>
                    </jsonFormatter>
                    <logPrefix>~~~json~~~</logPrefix>
                    <logPrefixSwitch>true</logPrefixSwitch>
                </layout>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>


    <logger name="org.apache" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="jndi" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
</configuration>